<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="font-montserrat" >



<!--<div class=" ">-->
<div class="flex border rounded-[16px] items-center justify-between p-8 bg-white w-[567px] h-[282px] relative">

    <div class="flex flex-col gap-8">

        <div class="font-bold text-[#212529] text-[18px] leading-normal">
            Оплати подписку,<br>
            чтобы получить доступ
        </div>

        <div class="inline-flex items-center gap-[10px] px-12 py-3 rounded-lg bg-gradient-to-r from-[#00FFC3] to-[#00BBFF]">
            <div class="text-white text-[16px] font-semibold text-center">
                К выбору тарифа →
            </div>
        </div>

    </div>

    <img
            src="../assets/img/payment/payment-img.png"
            class="w-[239px] h-[239px] -mt-[10.5px] -mb-[10.5px] object-cover aspect-square mix-blend-hard-light"
    />

</div>
<!--</div>-->
<script type="module" src="/src/main.js"></script>
</body>
</html>