@tailwind base;
@tailwind components;
@tailwind utilities;

.font-extrabold {
    width: 135px;
    height: 47px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.6);
    background: linear-gradient(90deg, #00ffc3 0%, #0bf 100%);
    transform: rotate(-10deg);
    font-weight: 700;
}
 