@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix search input */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/* input focus fix */
input:focus,
textarea:focus {
  outline: none;
}

html, body {
  overflow-x: hidden;
}


/* Custom styles to not to repeat too many times */
@layer components {
  .custom_style-1 {
    @apply
      px-[19px]
      py-[2px]
      border
      border-[#5E5E5E]
      rounded-[30px]
      cursor-pointer;
  }
}