@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix search input */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/* input focus fix */
input:focus,
textarea:focus {
  outline: none;
}